body {
    margin: 0;
    background-color: #f8fafc;
}

/* HEADER */

header {
    text-align: center;
    background: linear-gradient(135deg, #0f172a 0%, #1e3a5f 50%, #334155 100%);
    padding: 37px;
    color: #f97316;
}


/* NAV */ 

aside {
    
}

nav {
    background: radial-gradient(circle at 20% 50%, rgba(6, 182, 212, 0.15) 0%, transparent 50%),
    radial-gradient(circle at 80% 80%,rgba(20, 184, 166, 0.15) 0%,transparent 50%),
    linear-gradient(135deg, #0f172a 0%, #1e3a5f 50%, #334155 100%);
    width: 160px;
    position: sticky;
    position: absolute;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav li a:hover {
    color: #fb923c;
}

/* FOOTER */

footer {
    background: linear-gradient(135deg, #0f172a 0%, #1e3a5f 50%, #334155 100%);
    text-align: center;
    color: #f97316;
    padding: 30px;
}


/* CONTAINER */

.container {
    padding: 20px 250px;
}


/* INDEX */